.ant-tabs-nav-list {
  border: 3px solid #e5e5e5;
  /* padding: 10px; */
  border-radius: 6px;
  width: 230px;
  background: #fff;

  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; */
}
.ant-tabs-tab {
  color: gray;
  padding: 12px 9px;
  margin-inline: 15px;
}
.ant-tabs-tab-btn {
  color: #aba8a8;
  font-weight: 500;
}
.add-member {
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(92, 92, 191, 0.9);
  color: #fff;
  border: none;
}
.add-member:hover {
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(57, 57, 110, 0.9);
  color: #fff;
  border: none;
}

.form-modal {
  width: 100% !important;
  padding: 21px !important;
  border-radius: 7px;
}

/* .form-control:focus {
  border-color: rgba(101, 101, 204, 0.8);
  box-shadow: 0 0 2px rgba(101, 101, 204, 0.8);
}
.form-check-input {
  border-color: rgba(101, 101, 204, 0.8);
  box-shadow: 0 0 2px rgba(101, 101, 204, 0.8);
} */
.form-check-input:checked {
  background-color: blueviolet;
  border: none;
}
.form-switch .form-check-input {
  width: 1.8rem;
}

.save-btn {
  background-color: blueviolet;
  border: none;
  border-radius: 7px;
}
.save-btn:hover {
  background-color: rgb(107, 40, 169);
  border: none;
  border-radius: 7px;
}
.cancel-btn {
  background: none;
  border: none;
  color: gray;
}

.modal-dialog {
  width: 30% !important;
}
.modal-footer {
  border-top: none;
  padding-top: 0;
}
